.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #0f4c75;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 140%;

  font-family: 'Exo 2', sans-serif;
}

.cover-container {
  padding: 0;
}

/*
 * Header
 */
.masthead {
  margin: 0;
  margin-bottom: 1rem;
  padding: 10px 25px;
  background-color: #1b262c;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: 18px 10px 10px;
  font-weight: 700;
  font-size: 1.25rem;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

/* added */
.full-width {
  max-width: 100%;
}
h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
.about-icon{
  font-size: 4rem;
  background-color: #3282b8;
  padding: 30px;
  border-radius: 100%
}
.about-icon:hover{
  background-color: #bbe1fa;
}
.featurette-image{
  border-radius: 10%
}

.carousel-btn{
  background-color: #3282b8;
}
.text-background-primary {
  background-color: #3282b8;
  background-color: rgba(50, 130, 184, .8);
  padding: 5px 15px;
  display: inline-block;
  margin-bottom: 0;
}
.text-background-secondary {
  background-color: #3282b8;
  background-color: rgba(50, 130, 184, .6);
  padding: 5px 15px;
  display: inline-block;
  margin-top: 0;
}
.service-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
.service-list {
  min-height: 100px;
}

/* important for service items - fix */
.service-item{
  text-align: left;
  margin: 0;
}
/* div.col-lg-4 .col-6{
  padding: 10px;
} */









/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 35rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 110%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  border-color: #1b262c;
  border-color: rgba(27,38,44,.5);
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
